:root {
  --mainColor: rgba(255, 255, 255, 0.8);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: url("./img/tara-evans-lnz6eLsQrMM-unsplash.jpg") no-repeat center
    center fixed;
  background-size: cover;
}

nav {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.navBtn {
  padding: 10px;
  border-style: none;
  cursor: pointer;
}

.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.title {
  font-size: 4rem;
}
.para {
  font-size: 1.5rem;
}

.sCard {
  background-color: pink;
}
.sTitle {
}
.sDesc {
}
.bCard {
  background-color: yellow;
}
.bTitle {
}
.bDesc {
}
.kCard {
  background-color: green;
}
.kTitle {
}
.kDesc {
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
