@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

:root {
  --mainColor: rgba(255, 255, 255, 0.8);
  --darkColor: rgba(10, 0, 50, 0.7);
  --blue: rgba(0, 0, 10, 0.1);
  --lineColor: rgba(100, 20, 20, 1);
  --pink: rgba(180, 0, 200, 0.7);
  --yellow: rgba(255, 255, 0, 0.7);
  --green: rgba(0, 200, 10, 0.7);
  --font: "Dancing Script", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  user-select: none;
  background: url("./img/tara-evans-lnz6eLsQrMM-unsplash.jpg") no-repeat center
    center fixed;
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
}

nav {
  height: 10vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.navBtn {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--darkColor);
  background-color: transparent;
  padding: 1.2em;
  border-bottom: 2px solid var(--mainColor);
  border-top: none;
  border-right: none;
  border-left: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.navBtn:nth-child(1):hover {
  border-color: var(--pink);
  transform: translate(5px, 0);
}
.navBtn:nth-child(2):hover {
  border-color: var(--yellow);
  transform: translate(5px, 0);
}
.navBtn:nth-child(3):hover {
  border-color: var(--green);
  transform: translate(5px, 0);
}
/* main body */
.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* Home */
.title {
  font-family: var(--font);
  font-size: 10rem;
  /* border-bottom: 2px solid var(--lineColor); */
}
.para {
  font-size: 1.5rem;
}
.title,
.para {
  color: var(--mainColor);
  backdrop-filter: blur(20px);
  background-color: var(--blue);
}
/* Menu */
.sCard {
  background-color: pink;
  flex: 1;
}
.sTitle {
  color: var(--mainColor);
}
.sDesc {
}
.bCard {
  background-color: yellow;
  flex: 1;
}
.bTitle {
  color: var(--mainColor);
}
.bDesc {
}
.kCard {
  background-color: green;
  flex: 1;
}
.kTitle {
  color: var(--mainColor);
}
.kDesc {
}
/* Contact */
.addressTitle {
  font-size: 4rem;
  color: var(--mainColor);
}
.addressDesc {
  font-size: 1.5rem;
}
.hours {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .logo {
  display: flex;
} */
